<div class="span6">
    <h4>{{friend.name}}'s Status:</h4>

    <!-- orderBy: sorterer baklengs etter dato -->
    <ul ng-repeat="status in friend.statuses | StatusDateFilter | orderBy:'startdate':true">
        <p> {{status.text}} <i class="icon-random"> </i> added: {{status.startdate | date:'H:mm'}} expires:{{status.enddate | date:'H:mm'}} </p>

    <input type="text" ng-model="status.newcomment" placeholder="Write a comment...">


     <br>
    <button class="btn" ng-click="comment(status)">Comment</button>
    <br>
    <br>
    </ul>


</div>
